body{
    padding: 0px;
    margin: 0px;
    font-family: Malgun Gothic;
}
#top{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}
#container{
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #ffffff;
}
#logo{
    position: absolute;
    left: 7%;
    top: 10px;
    height: 30px;
    width: 30px;
    background-color: burlywood;
}
#navbarSearchGroup{
    position: absolute;
    left: 14%;
    width: 31.5%;
    height: 30px;
    top: 10px;
}
#functionList{
    position: absolute;
    left: 66.5%;
    width: 17.5%;
    height: 30px;
    top: 10px;
}
#userLogIn{
    position: absolute;
    color: #ffffff;
    left: 87.5%;
    top: 5px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgFullSize{
    height: 100%;
    width: 100%;
}
.imgBorderRadius{
    border-radius: 20px;
    border: 1px #ffffff solid;
}
#postBtn{
    position: relative;
    background-color: #ffffff;
    color: #040404;
    border-radius: 10px;
    top: 2.5px;
    height: 25px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    float: left;
    cursor: pointer;
}
.functionBtnSize{
    position: relative;
    top: 2.5px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.functionBtn{
    cursor: pointer;
}
#navbarSearchInput{
    position: absolute;
    top: 1px;
    height: 25px;
    width: 88%;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 10px 0px 0px 10px;
    border-right-style: unset;
    float: left;
    padding-left: 2%;
    outline: none; 
}
#navbarSearchBtn{
    position: absolute;
    top: 1px;
    height: 27px;
    left: 90%;
    width: 10%;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 0px 10px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#schoolList{
    position: absolute;
    top: 35px;
    left: 30px;
    height: auto;
    width: 250px;
}
#leader li{
    font-size: 24px;
    padding-left: 10px;    
}
#leader div{
    font-size: 18px;
}
#schoolList li {
    list-style-type: none;
    margin: 2px 0 0 2px;
    color: #2A2B2B;
    }
#schoolList :not(:first-child) li:before {
    content: "▷";
    }
#allGroupBtn{
    position: relative;
    margin: 10px 0px 5px 0px;
    padding-left: 5px;
    background-color: #0bb6b6;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 15px;
}
#main{
    position: absolute;
    top: 25px;
    left: 280px;
    height: 600px;
    width: 750px;
    background-color: #ffffff;
    border: 1px solid #707070;
}
#friendsBox{
    position: absolute;
    top: -50px;
    right: 0px;
    height: 100vh;
    width: 224px;
    background-color: #DBDBDB;
}
#logInDivBackground{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    z-index: 1;
    opacity:0.7;
}
#logInDiv{
    position: fixed;
    top: 100px;
    left: 25vw;
    margin: auto;
    padding-top: 40px;
    width: 50vw;
    height: 450px;
    background-image: url("../resource/img/signinupBack.png");
    background-size: cover;
    opacity:1.0;
    z-index: 1;
}
.centerPadding{
    position: relative;
    margin: auto;
    text-align: center;
    width: 300px;
}
#logInDiv h4{
    font: Regular 28px/37px Malgun Gothic;
    letter-spacing: 0;
}
#logInDiv h5{
    font: Regular 20px/27px Malgun Gothic;
    letter-spacing: 0;
    color: #787878;
}
#logInDiv h6{
    font: Regular 20px/27px Malgun Gothic;
    letter-spacing: 0;
    color: #171717;
    margin-top: 20px;
}
#logInWay{
    width: 260px;
}
#logInWay button{
    position: relative;
    width: 220px;
    left: 20px;
    margin-bottom: 20px;
    border: 1px solid #707070;
    color: #090909;
}
#logInWay :first-child{
    margin-top: 20px;
}
#logInArea{
    display: none;
}