body{
    padding: 0px;
    margin: 0px;
    font-family: Malgun Gothic;
}
#top{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #000000;
    z-index: 1;
}
#container{
    position: relative;
    top: 50px;
    width: 100%;
    background-color: #ffffff;
}
#logo{
    position: absolute;
    left: 7%;
    top: 10px;
    height: 30px;
    width: 30px;
}#navbarSearchGroup{
    position: absolute;
    left: 14%;
    width: 31.5%;
    height: 30px;
    top: 10px;
}
#functionList{
    position: absolute;
    left: 66.5%;
    width: 17.5%;
    height: 30px;
    top: 10px;
}
#userLogIn{
    position: absolute;
    color: #ffffff;
    left: 87.5%;
    top: 5px;
    height: 40px;
    width: 100px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mylogin{
    background-color: #000000;
    border: none;
    width: 100%;
    height: 100%;
}
.mylogin:hover{
    background-color: #000000;
}
.imgFullSize{
    height: 100%;
    width: 100%;
}
.imgBorderRadius{
    border-radius: 20px;
    border: 1px #ffffff solid;
}
#postBtn{
    position: relative;
    background-color: #ffffff;
    color: #040404;
    border-radius: 10px;
    top: 2.5px;
    height: 25px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 35px;
    float: left;
    cursor: pointer;
}
.functionBtnSize{
    position: relative;
    top: 2.5px;
    width: 25px;
    height: 25px;
    margin-left: 5px;
}
.functionBtn{
    cursor: pointer;
}
#navbarSearchInput{
    position: absolute;
    top: 1px;
    height: 25px;
    width: 88%;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 8px 0px 0px 8px;
    border-right-style: unset;
    float: left;
    padding-left: 2%;
    outline: none; 
}
#navbarSearchBtn{
    position: absolute;
    top: 1px;
    height: 25px;
    left: 88%;
    width: 10%;
    border: 1px solid #000000;
    background-color: #ffffff;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#schoolList{
    position: absolute;
    top: 35px;
    left: 30px;
    height: auto;
    width: 250px;
}
#leader li{
    font-size: 24px;
    padding-left: 10px;    
}
#leader div{
    font-size: 18px;
}
#schoolList li {
    list-style-type: none;
    margin: 2px 0 0 2px;
    color: #2A2B2B;
    }
#schoolList :not(:first-child) li:before {
    content: "▷";
    }
#allGroupBtn{
    position: relative;
    margin: 10px 0px 5px 0px;
    padding-left: 5px;
    background-color: #0bb6b6;
    height: 30px;
    width: 100px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    left: 15px;
}
#main{
    position: absolute;
    top: 25px;
    left: 280px;
    height: 600px;
    width: 750px;
    background-color: #ffffff;
    border: 1px solid #707070;
    padding: 30px 40px 0px 40px;
}
#friendsBox{
    position: fixed;
    right: 0px;
    height: 92%;
    width: 224px;
    border: 1px solid #707070;
    background-color: #DBDBDB;
}
#searchFriendGroup div{
    position: absolute;
    width: 20%;
    left: 0px;
    bottom: 0px;
    height: 6vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #707070;
    border-right: none;
}
#searchFriend{
    position: absolute;
    width: 80%;
    right: 0px;
    bottom: 0px;
    height: 6vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-top: 1px solid #707070;
    border-left: none;
}
.widthFull{
    width: 100%;
}
#logInDiv{
    top: 40px;
}
.logInDivBackgroundImg{
    background-image: url("../resource/img/signinupBack.png");
    background-size: cover;
}
.centerPadding{
    position: relative;
    margin: auto;
    text-align: center;
    width: 300px;
}
#logInDiv h4{
    font: Regular 28px/37px Malgun Gothic;
    letter-spacing: 0;
    text-align: center;
}
#logInDiv h5{
    font: Regular 20px/27px Malgun Gothic;
    letter-spacing: 0;
    color: #787878;
    text-align: center;
}
#logInDiv h6{
    font: Regular 20px/27px Malgun Gothic;
    letter-spacing: 0;
    color: #ffffff;
    margin-top: 20px;
    text-align: center;
}
#logInWay{
    width: 260px;
}
.logInDivPading{
    position: relative;
    margin: auto;
    width: 350px;
}
#logInWay button{
    position: relative;
    width: 220px;
    left: 20px;
    margin: auto;
    margin-bottom: 5px;
    border: 1px solid #707070;
    color: #ffffff;
}
#logInArea{
    display: none;
}
.logInIcon{
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0px;
    padding-bottom: 5px;
    left: -5px;
}
.titleFront{
    position: relative;
    height: 20px;
    width: 20px;
    left: 15px;
    border-radius: 20px;
    background: #BC4141 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
}
.mainTitle{
    text-align: left;
    font-size:16px;
    letter-spacing: 0;
    color: #090808;
}
.cancelPadding{
    padding: 0px;
}
.textRight{
    text-align: right;
}
.textCenter{
    text-align: center;
}
.titleRow{
    border-bottom:1px #707070 solid;
    height: 35px;
}
.attention{
    color: #0077FF;
}
.contentRow{
    height: 110px;
    padding: 20px;
    border-bottom: 1px #707070 solid;
}
.postDetail{
    text-align: left;
    font-size:14px;
    letter-spacing: 0;
    color: #090808;
}
.postTitle{
    text-align: left;
    font-size:16px;
    letter-spacing: 0;
    color: #090808;
}
.postCommit{
    text-align: left;
    font-size:12px;
    letter-spacing: 0;
    color: #090808;
}
.groupText{
    font-size: 12px;
    padding: 3px 0 0 10px;
    color: #444444;
    margin-bottom: 200px;
}
.friendText{
    font-size: 12px;
    padding: 3px 0 0 10px;
    color: #444444;
}